/* Reset básico para limpiar márgenes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

/* BANNER CON FONDO */
.banner {
    height: 40vh;
    background-image: url(./assets/dorado.jpg); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay {
    background: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    text-align: center;
    width: 100%;
}

/* Menu */
.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #8b4513; 
    color: white;
    position: sticky; 
    top: 0;
    z-index: 1000;
}

.navMenu ul {
    display: flex;
    align-items: center;    
    justify-content: center;
    list-style: none;
    gap: 30px;              
}

.navMenu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.logo-central img {
    display: block;
    height: 60px;            
    width: auto;
    filter: drop-shadow(0px 0px 8px rgba(255, 215, 0, 0.7)); 
}

/* CONTENEDOR PRINCIPAL */
.container {
    display: flex;
    max-width: 1200px;
    margin: 30px auto;
    gap: 20px;
    padding: 0 20px;
}

/* SIDEBAR */
.sidebar {
    flex: 1; 
    background-color: #d2b48c; 
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

/* LAS 3 CAJAS SUPERIORES */
.content-area {
    flex: 3; 
    display: flex;
    gap: 15px; 
}

.info-block {
    flex: 1; 
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 5px solid #8b4513; 
    border-radius: 8px;
    transition: transform 0.3s;
}

.info-block:hover {
    transform: translateY(-5px); 
}

/* (CONO Y CUBO) */
.flex-block {
    display: flex;
    max-width: 1200px;
    margin: 40px auto; 
    background-color: #f0f0f0; 
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.flex-block.reverse {
    flex-direction: row-reverse;
}

/* Espacio para Three.js */
.visor-pequeno {
    flex: 1.2; 
    height: 350px; 
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
}


.texto-bloque {
    flex: 1;
    padding: 50px;
    background-color: #d2b48c; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texto-bloque h2 {
    color: #4b2e1d;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.texto-bloque p {
    line-height: 1.6;
    color: #333;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background-color: #222;
    color: white;
    margin-top: 50px;
}

/* Ajuste para móviles */
@media (max-width: 768px) {
    .container, .content-area, .flex-block, .flex-block.reverse {
        flex-direction: column;
    }
    .visor-pequeno {
        height: 250px;
    }
}